#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.ant-layout-sider-trigger {
  top: 10px;
}

.ant-menu-item-selected {
  background-color: rgba(255, 255, 255, 0.1) !important;
}

.gallery-card {
  transition: all 0.3s ease;
  border-radius: 8px;
  overflow: hidden;
  height: 400px; /* Enforce a fixed height for all cards */
  display: flex;
  flex-direction: column;
}

.gallery-card .ant-card-body {
  flex-grow: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.gallery-card .ant-card-meta {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.gallery-card .ant-card-meta-description {
  flex-grow: 1;
  overflow: hidden;
}

.image-card-description {
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Limit to 3 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.gallery-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.ant-card-cover img {
  height: 200px;
  object-fit: cover;
}
